* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100%;
}

.container {
  margin: 5px;
  padding: 5px;
}

div.sideBar {
  background-color: #525552;
  color: whitesmoke;
  width: 15%;
  height: 100%;
  float: left;
}

h1.headerNavbar {
  font-size: 32px;
  text-align: center;
  margin: 10px;
}

div.profile {
  margin: 15px 0;
  text-align: center;
  width: 100%;
}

div.imgProfile img {
  background-color: white;
  border: 1px solid white;
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

div.navbar {
  text-align: center;
  margin: 15px 0;
}

div.navbar ul.nav li {
  padding: 5px;
}

div.navbar ul.nav a {
  color: white;
  text-decoration: none;
}

div.navbar ul.nav a:hover {
  color: lightcoral;
  font-size: 20px;
  text-decoration: none;
}

div.main {
  background-color: floralwhite;
  width: 85%;
  float: right;
}

div.card {
  background-color: skyblue;
  border-radius: 5%;
  margin-left: 4%;
  margin-top: 25px;
  width: 20%;
  float: left;
}

div.headerCard {
  font-size: 30px;
  text-align: center;
  margin: 15px 0;
}

div.imgCard img {
  margin: 20px;
  width: 85px;
  height: 75px;
  float: left;
}

div.count {
  font-size: 60px;
  float: right;
  margin: 15px;
}


/*  Untuk Tablet*/
@media screen and (max-width: 1080px) {
  div.card {
    background-color: skyblue;
    border-radius: 5%;
    margin-left: 4%;
    margin-top: 25px;
    width: 20%;
    float: left;
  }

  div.headerCard {
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
  }

  div.imgCard img {
    margin: 10px;
    width: 75px;
    float: left;
  }

  div.count {
    font-size: 30px;
    float: right;
    margin: 15px;
  }
}

/*  untuk android*/
@media screen and (max-width: 780px) {
  div.sideBar {
    background-color: #525552;
    color: whitesmoke;
    width: 15%;
    float: left;
  }

  h1.headerNavbar {
    font-size: 20px;
    text-align: center;
    margin: 10px;
  }

  div.profile {
    margin: 15px 0;
    text-align: center;
    width: 100%;
  }

  div.imgProfile img {
    background-color: white;
    border: 1px solid white;
    border-radius: 100%;
    width: 25px;
    height: 25px;
  }

  div.imgProfile p {
    font-size: 15px;
  }

  div.navbar {
    font-size: 10px;
    text-align: center;
    margin: 15px 0;
  }

  div.navbar ul.nav li {
    padding: 5px;
  }

  div.navbar ul.nav a {
    color: white;
    text-decoration: none;
  }

  div.navbar ul.nav a:hover {
    color: lightcoral;
    font-size: 12px;
    text-decoration: none;
  }

  div.card {
    background-color: skyblue;
    border-radius: 5%;
    margin-left: 4%;
    margin-top: 25px;
    width: 20%;
  }

  div.headerCard {
    font-size: 15px;
    text-align: center;
    margin: 10px 0;
  }

  div.imgCard img {
    margin: 5px;
    width: 55px;
    height: 55px;
  }

  div.count {
    font-size: 20px;
    margin: 15px;
  }
}
